

<div class="container">
  <div class="row">
    <header class="sub-header columns large-12 medium-12 small-12" fixed-header="">
      <div class="left-column">
       
      </div>
      <div class="right-column">
       	
        <div class="container">
            <div class="row">

             <div class="columns large-12 medium-12 small-12">
                <h4 class="title">SNAPSHOT</h4>
                <div class="metric">              
                    <h4 class="value nps">9.20</h4>
                    <h2 class="description">Week Average</h2>
                    <div class="separator"></div>
                </div>
                <div class="metric">              
                    <h4 class="value nps">9.20</h4>
                    <h2 class="description">Month Average</h2>
                    <div class="separator"></div>
                </div>
             </div>  

               <div class="columns large-6 medium-6 small-12 end">
                  <h4 class="title">Trends:</h4> 
                  <div id="svgWrapper" (mousemove)="mMove($event)" (mouseleave)="mMoveLeave($event)"></div>
              </div>  

               <div class="columns large-4 large-offset-1 medium-offset-1 medium-4 small-12 paddingTop end">

                 
                   <h5 class="title">Select a date range</h5>

                    Start Date:
                    <input type="text" class="datepicker_startDate" [(ngModel)]="startDate" />

                    End Date:
                    <input type="text" class="datepicker_endDate" [(ngModel)]="endDate" />


                    Frequency:
                    <select #range (change)= "changeFrenquence(range.value)">
                          <option selected value="week">Week-over-Week</option>
                          <option value="month">Month-over-Month</option>
                          <option value="quarter">Quarter-over-Quarter</option>
                    </select>

              </div>

            
            </div>

             <div class="row">
                <div class="columns large-4 medium-6 small-12 ">
                    <h4 class="title">Feedback:</h4>
                    Select dropdown below to start:
                    <select #currentClient (change)="changeClient(currentClient.value)">
                      <option value="">Select client</option>
                      <option *ngFor="let client of allClients" attr.val="{{client.clientName}}">{{client.clientName}}</option>
                  </select>
                </div>

                <div class="columns large-12 medium-12 small-12 relativePostion end" *ngFor="let clientData of currentClientData">

                    <div class="border{{clientData.score}}"></div>

                    <div class="row">
                       <h2 class="grade promoter score-{{clientData.score}} columns large-1 medium-2 small-2">{{clientData.score}}</h2>
                       <span class="mail has-end-users columns large-4 medium-4 small-6 lineHeight">Client: {{clientData.clientName}}</span>
                        <span class="mail has-end-users columns large-4 medium-4 small-6 lineHeight">UserName: {{clientData.userName}}</span>
                        <div class="lineHeight timeStamp columns large-3 medium-4 small-4 end">{{clientData.insertDTShow}}</div>
                    </div>

                     <div class="content">
                          <div class="end-user-comment">
                          <pre class="comment-format">Event:{{clientData.eventName}}({{clientData.eventID}})</pre>
                          <pre class="comment-format" *ngIf="clientData.feedback">Feedback: {{clientData.feedback}}</pre>
                          </div>
                      </div>

                </div>

             </div>

        </div>

       	<!--
        <div class="buttons">
          <ul class="date-picker-time-periods">
            <li ng-repeat="period in periods">
              <a class="btn btn-preset btn-left-radius btn-border-right-none" (click)="presetSelectedDateRange(period)" >
                last week
              </a>
            </li><li ng-repeat="period in periods">
              <a class="btn btn-preset btn-border-right-none btn-selected" (click)="presetSelectedDateRange(period)">
                last month
              </a>
            </li><li ng-repeat="period in periods">
              <a class="btn btn-preset btn-border-right-none" (click)="presetSelectedDateRange(period)">
                last quarter
              </a>
            </li><li ng-repeat="period in periods">
              <a class="btn btn-preset btn-right-radius" (click)="presetSelectedDateRange(period)">
                last year
              </a>
            </li><li ng-repeat="period in periods">
              <a class="btn btn-preset btn-radius btn-all" (click)="presetSelectedDateRange(period)">
                all time
              </a>
            </li>
          </ul>
        </div>
        -->

      </div>  
    </header>

   

    <!--
    <div *ngFor="let data of npsData">
        {{data | json }}
    </div>
    -->
  </div>

</div>